<!DOCTYPE html>
<html>
<head>
	<title></title>
<meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<style>
ul{list-style:none;}
.aptitude .cont{border-bottom: 1px dashed #333; }
.aptitude .cont .ul1{list-style:none;}
.aptitude .cont .ul1 li{overflow: hidden;line-height: 30px;}
.aptitude .cont .ul1 li .tit{width:150px; text-align: right;float: left;margin-right: 10px;}
.aptitude .cont .ul1 li .tit em{color:red;font-family: 'Arial Normal', 'Arial';}
.aptitude .cont .ul1 li{}
.aptitude .cont .ul1 li{}
.aptitude .cont{}
[v-cloak]{display: none;}
</style>
<div id="register">
	<div  v-show="active==0">
            <el-row v-cloak>
                <el-col :span="12" :offset="5">
                    <el-form ref="registerData1" :rules="registerRules" :model="registerData" label-width="125px">
                        <el-form-item  label="手机号" prop="phone">
                            <el-input v-model="registerData.phone" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item  label="确认手机号" prop="phone1">
                            <el-input  v-model="registerData.phone1" auto-complete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="密码" prop="pass">

							<el-input  v-model="registerData.pass" auto-complete="off"></el-input>
						</el-form-item>
						<el-form-item label="确认密码" prop="checkPass">
							<el-input v-model="registerData.checkPass" auto-complete="off"></el-input>
						</el-form-item>
						 <el-form-item>
						    <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
						  </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </div>
</div>

<script type="text/javascript">
	var vapp = new Vue({
        el:'#register',
        created:function() {

        },
        data(){
            // var checkAge = (rule, value, callback) => {
            //     if (!value) {
            //       return callback(new Error('年龄不能为空'));
            //     }
            //     setTimeout(() => {
            //       if (!Number.isInteger(value)) {
            //         callback(new Error('请输入数字值'));
            //       } else {
            //         if (value < 18) {
            //           callback(new Error('必须年满18岁'));
            //         } else {
            //           callback();
            //         }
            //       }
            //     }, 1000);
            // }
            var validate_phone = (rule, value, callback) => {
                if (value === '') {
                  callback(new Error('输入手机号'));
                } else {
                  if (this.registerData.phone !== '') {
                    this.$refs.registerData1.validateField('phone1');
                  }
                  callback();
                }
            };
            //验证规则 手机号验证
            var validate_phone1 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入供应商的注册手机号'));
                } else if (value !== this.registerData.phone) {
                    callback(new Error('两次输入的手机号不一致!'));
                } else {
                    callback();
                }
            };

            var validatePass = (rule, value, callback) => {
		        if (value === '') {
		          callback(new Error('请输入密码'));
		        } else {
		          if (this.registerData.checkPass !== '') {
		            this.$refs.registerData.validateField('checkPass');
		          }
		          callback();
		        }
		      };
		      var validatePass2 = (rule, value, callback) => {
		        if (value === '') {
		          callback(new Error('请再次输入密码'));
		        } else if (value !== this.registerData.pass) {
		          callback(new Error('两次输入密码不一致!'));
		        } else {
		          callback();
		        }
		      };
            return {
                active:0,
                classifyList:[],
                purchaserList:[],
                bankList:[],
                tempCoopInfo:[],
                registerData:{
                    phone:'',
                    phone1:'',
                    contactPerson:'',//联系人
                    contactPhone:'',//联系电话
                    email:'',       //邮箱
                    address:'',     //地址
                    invoiceType:'', //发票类型
                    payWay:'',      //支付方式
                    accountPeriodStart:'',//账期起算日（1.下单日期，2.入库日期）
                    nature:'',      //性质
                    accountDay:'',  //账单天数
                    accountDelayDay:'',//延期付款天数


                    coopInfo:[{class1:'',purchaser:''}],
                    useSortingApp:'',//是否使用分拣客户端
                    isPrepaid:'',//是否预付
                    deliveryType:'',//配送方式

                    qualify: {
                        isThreeInOne:'',
                        biz:{       //营业执照信息
                            name: '',
                            supplierType1: '',//供应商类型 （1：虚拟供应商，2：内部供应商，4：基地，5：生产商，6：代理商，7：批发商，8：经销商，9：个人）
                            supplierType2: '',//供应商类型2 （当供应商类型为代理商时，此字段有意义， 1：一级代理商，2：二级代理商）
                            code:'',
                            registerAddress: '',//注册地址
                            endTime: '',
                            bizPersonName: '',//法人姓名
                            idNumber: '',//身份证号
                            bizPic: '',
                            idCardFrontPic: '',
                            idCardReversedPic: '',
                        },
                        org:{
                            orgCode:'',
                            endTime:'',
                            pic:''
                        },
                        tax:{
                            taxType:'',
                            taxCode:'',
                            pic:'',
                        },
                        account:{
                            accountBankNo:'',
                            accountBankName:'',
                            account:'',
                            bankCode:'',
                            Province:'',
                            city:'',
                            isPrivate:'',//是否对私
                            pic:''
                        },
                        extList:[]
                    },
                },
                registerRules:{
                    // phone11:[
                    //     { required: true, message: '请输入供应商的注册手机号'  },
                    //     { type: 'number',min:10000000000,max:99999999999, message: '请填写正确的手机号'}
                    // ],
                    phone:[{ validator: validate_phone, trigger: 'blur,change' }],
                    phone1:[{ validator: validate_phone1, trigger: 'blur,change' }] ,
                     pass: [
            { validator: validatePass, trigger: 'blur,change' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur,change' }
          ],
                }
            }
        },
        methods:{
        	submitForm(2) {
		        this.$refs[formName].validate((valid) => {
		          if (valid) {
		            alert('submit!');
		          } else {
		            console.log('error submit!!');
		            return false;
		          }
		        });
		      },
            lastStep:function() { //上一步
                if (this.active-- <= 0) this.active = 0;
            },
            nextStep:function() { //下一步

                return this.active ++;
            },
            handleRemove:function(file, fileList) {
                console.log(file, fileList);
            },
            handleProgress:function(event, file, fileList) {
                console.log('----->',this,event.target);
            },
            handleAvatarScucess:function(res, file){
                console.log(this);
                if (res.ret != -1){
                    this.registerData.qualify.biz.bizPic = URL.createObjectURL(file.raw);
                }else {
                }
            },
            addDomain:function() { //更多合同
                this.registerData.coopInfo.push({
                    class1: '',
                    purchaser:'',
                });
                this.tempCoopInfo = this.registerData.coopInfo.slice(1);
            },
            removeDomain:function(item) { //删除合同
                var index = this.registerData.coopInfo.indexOf(item)
                if (index !== -1) {
                    this.registerData.coopInfo.splice(index, 1);
                    this.tempCoopInfo.splice(index - 1, 1)
                }
            },
        }
    })
	
</script>

</body>
</html>