
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美菜-供应商管理系统</title>

    <!-- 引入样式 -->
     <link rel="stylesheet" type="text/css" href="http://newsrm-me.test.yunshanmeicai.com:8080/assets/css/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="http://newsrm-me.test.yunshanmeicai.com:8080/assets/css/new-srm.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="http://newsrm-me.test.yunshanmeicai.com:8080/assets/js/vue.js"></script>
    <script type="text/javascript" src="http://newsrm-me.test.yunshanmeicai.com:8080/assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://newsrm-me.test.yunshanmeicai.com:8080/assets/js/element-ui.min.js"></script> 
    <script type="text/javascript" src="http://newsrm-me.test.yunshanmeicai.com:8080/assets/js/axios.min.js"></script>
    <script type="text/javascript" src="http://newsrm-me.test.yunshanmeicai.com:8080/assets/js/new-srm.js"></script>

</head>

<body>
<div v-cloak id="srm-home">
  <el-row>
    <el-col :span="24" class="header">
      <el-col :span="10" class="logo" :class="collapsed?'logo-collapse-width':'logo-width'">
        {{sysName}}
      </el-col>
      <el-col :span="5">
        <div class="tools" @click.prevent="collapse">
          <i class="fa fa-align-justify"></i>
        </div>
      </el-col>
      <el-col :span="9" class="userinfo">
        <span class="user_name">
          您好,{{userInfo.name}} ({{userInfo.role_name}})
        </span>
        <el-dropdown trigger="hover">
            <span class="el-dropdown-link userinfo-inner">
              {{userInfo.current_city_name}}
              <i class="el-icon-caret-bottom el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="switchCity(city.id)" v-for="city in userInfo.own_cities" >
                  {{city.name}}
              </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <a class="logout" href="/public/logout">
            退出
        </a>
      </el-col>
    </el-col>
  </el-row>
  <aside class="navbar-side" :class="collapsed ? 'menu-collapsed':'menu-expanded'">
    <el-menu :default-active="pathname" class="el-menu-vertical-demo" unique-opened v-show="!collapsed"  @open="handleopen" @close="handleclose" @select="handleselect">
      <template v-for="(item , index) in menus" v-if="!item.hidden">
        <el-submenu :index="index+''" v-if="!item.leaf">
            <template slot="title">
              <i :class="item.iconCls"></i>
              {{item.name}}
            </template>
            <el-menu-item v-for="child in item.children" :index="child.path" v-if="!child.hidden">
              {{child.name}}
            </el-menu-item>
            </el-submenu>
            <el-menu-item v-if="item.leaf && item.children.length>0" :index="item.children[0].path">
                <i :class="item.iconCls"></i>
                {{item.children[0].name}}
            </el-menu-item>
      </template>
    </el-menu>
    <!--导航菜单-折叠后-->
    <ul class="el-menu el-menu-vertical-demo collapsed" v-show="collapsed" ref="menuCollapsed">
      <li v-for="(item,index) in menus" v-if="!item.hidden" class="el-submenu item">
        <template v-if="!item.leaf">
          <div class="el-submenu__title" style="padding-left: 20px;" @mouseover="showMenu(index,true)" @mouseout="showMenu(index,false)"><i :class="item.iconCls"></i></div>
          <ul class="el-menu submenu" :class="'submenu-hook-'+index" @mouseover="showMenu(index,true)" @mouseout="showMenu(index,false)">
            <li v-for="child in item.children" v-if="!child.hidden" class="el-menu-item" style="padding-left: 40px;" :class="pathname==child.path?'is-active':''">{{child.name}}</li>
          </ul>
        </template>
        <template v-else>
          <li class="el-submenu">
            <div class="el-submenu__title el-menu-item" style="padding-left: 20px;height: 56px;line-height: 56px;padding: 0 20px;" :class="pathname==item.children[0].path?'is-active':''" ><i :class="item.iconCls"></i></div>
          </li>
        </template>
      </li>
    </ul>
  </aside>
</div>
<div class="page-wrapper">
  <style>
    .tit{border-bottom:3px solid #1298B3;overflow: hidden;}
    .tit h3{background:#1298B3;color:#fff;line-height: 40px;height: 40px;margin: 0;padding:0 15px;font-size: 16px;font-weight: normal;float:left;}
    .tit a{float:right;border:1px solid rgba(204, 204, 204, 1);color:#666;padding:5px 10px;display:block;}
    .tit a:hover{text-decoration: none;background:#d0d0d0}
</style>

<div v-cloak id="supplier" v-loading="loading" element-loading-text="拼命加载中">
    <div class="tit">
        <h3>供应商列表</h3>
    </div>
    <el-form :inline="true" :model="formData" class="demo-form-inline" align="left" style="margin-top:20px;">
        <el-form-item label="供应商编码">
            <el-input v-model="formData.basicSupplierNo" placeholder="供应商编码"></el-input>
        </el-form-item>
        <el-form-item label="供应商名称">
            <el-input v-model="formData.basicSupplierName" placeholder=""></el-input>
        </el-form-item>
        <el-form-item label="供应商类型">
            <el-select v-model="formData.supplierType" filterable placeholder="请选择">
                <el-option label="全部" value="99"></el-option>
                <el-option
                        v-for="(item,index) in supplierTypeList"
                        :key="item.id"
                        :label="item.value"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="申报时间">
            <el-date-picker
                    @change="changeDate"
                    v-model="formData.applyTime"
                    format="yyyy-MM-dd"
                    type="daterange"
                    placeholder="选择时间范围">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="经营分类">
            <el-select v-model="formData.fClass1" filterable placeholder="请选择">
                <el-option
                        v-for="(item,index) in classList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="供应商状态">
            <el-select v-model="formData.supplierStatus" filterable placeholder="请选择">
                <el-option label="全部" value="99"></el-option>
                <el-option
                        v-for="(item,index) in supplierStatusList"
                        :key="item.id"
                        :label="item.value"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="合同状态">
            <el-select v-model="formData.contractStatus" filterable placeholder="请选择">
                <el-option label="全部" value="99"></el-option>
                <el-option
                        v-for="(item,index) in contractStatusList"
                        :key="item.id"
                        :label="item.value"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-checkbox v-model="formData.isCountry">是否全国</el-checkbox>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                align="center"
                label="供应商编码"
                prop="supplierNo">
        </el-table-column>
        <el-table-column
                align="center"
                label="供应商名称"
                prop="supplierName">
        </el-table-column>
        <el-table-column
                align="center"
                label="登陆账号"
                prop="defaultAccount">
        </el-table-column>
        <el-table-column
                align="center"
                label="供应商类型"
                prop="supplierType">
        </el-table-column>
        <el-table-column
                align="center"
                label="经营分类"
                prop="class1">
        </el-table-column>
        <el-table-column
                align="center"
                label="联系人">
            <template scope="scope">
               <div>{{scope.row.contactPerson}}</div>
                {{scope.row.contactPhone}}
            </template>
        </el-table-column>
        <el-table-column
                align="center"
                label="建档时间"
                prop="createTime">
        </el-table-column>
        <el-table-column
                align="center"
                label="合同"
                prop="contractStatus">
        </el-table-column>
        <el-table-column
                align="center"
                label="状态">
            <template scope="scope">
                {{scope.row.supplierStatus}}
                <el-button type="text" @click="stateMangeHandle(scope.$index, scope.row)">管理</el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="操作">
            <template scope="scope">
                <el-button type="text" size="small">详情</el-button>
                <el-button type="text" size="small" @click="cityHandle(scope.$index, scope.row)">城市</el-button>
                <el-button type="text" size="small" @click="popHandle(scope.$index, scope.row)">设置pop商</el-button>
                <el-button type="text" size="small" @click="extendHandle(scope.$index, scope.row)">拓展分类</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--工具条-->
    <el-col :span="24" class="pagination">
        <el-pagination
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="formData.offset"
                :page-sizes="[20, 50, 100, 200]"
                :page-size="formData.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </el-col>

    <!--状态管理-->
    <el-dialog id="stateManageCon" title="状态管理" v-model="stateManageVisible" :close-on-click-modal="false">
        <el-form :model="stateManageForm" label-width="30%">
            <el-form-item label="供应商状态">
                <el-radio-group v-model='stateManageForm.supplierStatus'>
                    <el-radio-button label="0">生效</el-radio-button>
                    <el-radio-button label="1">失效</el-radio-button>
                    <el-radio-button label="2">冻结</el-radio-button>
                    <el-radio-button label="3">淘汰</el-radio-button>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="stateManageVisible = false">取消</el-button>
            <el-button type="primary" @click.native="stateManageSubmit" :loading="stateManageLoading">提交</el-button>
        </div>
    </el-dialog>

    <!--拓展分类-->
    <el-dialog title="拓展分类" v-model="extendVisible" :close-on-click-modal="false">
        <el-form :model="extendForm" label-width="25%" style="padding-right: 15%;">
            <el-form-item label="一级分类">
                <el-input v-model='extendForm.class1' ></el-input>
            </el-form-item>
            <el-form-item label="采购员">
                <el-input v-model='extendForm.contactPerson'></el-input>
            </el-form-item>
            <el-form-item label="OA单号">
                <el-input v-model='extendForm.supplierNo'></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="extendVisible = false">取消</el-button>
            <el-button type="primary" @click.native="extendSubmit" :loading="extendLoading">提交</el-button>
        </div>
    </el-dialog>

    <!--配置城市-->
    <el-dialog title="城市" v-model="cityVisible" :close-on-click-modal="false">
        <el-form :model="cityForm" label-width="10%" style="padding-right: 15%;">
            <el-form-item >
                <el-checkbox-group v-model="cityForm.cityList" @change="handleCheckedCitiesChange">
                    <el-checkbox v-for="city in cities" :label="city.id" :key="city.id">{{city.name}}</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="cityVisible = false">取消</el-button>
            <el-button type="primary" @click.native="citySubmit" :loading="cityLoading">提交</el-button>
        </div>
    </el-dialog>

    <!--设置pop商-->
    <el-dialog title="设置pop商" v-model="popVisible" :close-on-click-modal="false">
        <el-form :model="popForm" label-width="10%" style="padding-right: 15%;">
            <el-form-item >
                确定要将该供应商设置为pop供应商？
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="popVisible = false">取消</el-button>
            <el-button type="primary" @click.native="popSubmit" :loading="popLoading">提交</el-button>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">
    new Vue({
        el: '#supplier',
        created: function () {
            // this.getClassOne();
            // this.getPageList();
            // this.getSupplierStatus();
            // this.getContractStatus();
            // this.getSupplierType();
        },
        data: {
            //供应商状态管理
            stateManageVisible:false,// 界面显示
            stateManageLoading:false,// 提交loading
            stateManageForm:{
                supplierStatus:''
            },
            //拓展分类
            extendVisible:false,
            extendLoading:false,
            extendForm:{
                class1:'',//一级分类
                contactPerson:'',//采购员
                supplierNo:''//OA单号
            },
            //城市配置
            cityVisible:false,
            cityLoading:false,
            cityForm:{
                cityList:[]
            },
            //设置pop商
            popVisible:false,
            popLoading:false,
            popForm:{
                isSetPop:false
            },

            supplierTypeList: [{
                id:1,
                value:'11'
            }],
            supplierStatusList: [{
                id:1,
                value:'11'
            }],
            contractStatusList: [{
                id:1,
                value:'11'
            }],
            classList: [{
                id:1,
                name:'海鲜类'
            }],
            cities:[
                {id:'0',f_supplier_basic:'3',name:'北京'},
                {id:'1',f_supplier_basic:'3',name:'上海'},
                {id:'2',f_supplier_basic:'3',name:'成都'},
                {id:'3',f_supplier_basic:'3',name:'天津'},
                {id:'4',f_supplier_basic:'3',name:'广州'}
            ],

            loading: false,
            date: '',
            total: 0,
            formData: {
                basicSupplierNo: '',
                basicSupplierName: '',
                supplierStatus: '',
                contractStatus: '',
                supplierType:'',
                fClass1: '',
                fCity: 0,
                startDate: '',
                endDate: '',
                isCountry: '',
                offset: 1,
                limit: 20,
            },
            tableData: [{
                supplierNo:'123',
                supplierName:'巴拉巴拉土豆供应商',
                defaultAccount:'zh1234',
                supplierType:'222',
                class1:'111',
                contactPerson:'张三',
                contactPhone:'13827328658',
                createTime:'2015-2-13',
                contractStatus:'合同',
                supplierStatus:'2',//供应商状态
            }]
        },
        methods: {
            //状态管理
            stateMangeHandle: function (index, row) {//界面显示
                this.stateManageVisible = true;
                this.stateManageForm = Object.assign({}, row);
            },
            stateManageSubmit:function(){//提交
                this.stateManageLoading = false;
                alert(JSON.stringify(this.stateManageForm))
            },
            //拓展分类
            extendHandle: function (index, row) {//界面显示
                this.extendVisible = true;
                this.extendForm = Object.assign({}, row);
            },
            extendSubmit:function(){//提交
                this.extendLoading = false;
                this.$message({
                    type: 'warning',
                    message:'OA号录入失败'
                });
                alert(JSON.stringify(this.extendForm))
            },
            //拓展分类
            cityHandle: function (index, row) {//界面显示
                this.cityVisible = true;
            },
            citySubmit:function(){//提交
                this.cityLoading = false;
                alert(JSON.stringify(this.cityForm))
            },
            //设置pop商
            popHandle: function (index, row) {//界面显示
                this.popVisible = true;
            },
            popSubmit:function(){//提交
                this.popLoading = false;
                this.popForm.isSetPop = true;
                alert(JSON.stringify(this.popForm))
            },

            onSubmit: function () {
                this.getPageList();
            },
            handleSizeChange: function (val) {
                this.formData.limit = val;
            },
            handleCurrentChange: function (val) {
                this.formData.offset = val;
                this.getPageList();
            },
            changeDate: function (val) {
                this.date = val.split(' - ');
            },
            getClassOne: function () {
                //一级分类
                var _this = this;
                axios.get('/public/getCategory1').then(function (response) {
                    if (response.data.ret == 1) {
                        _this.classList = response.data.data;
                    }
                    ;
                }).catch(function (err) {
                    console.log('err===>', err);
                });
            },
            getSupplierStatus: function () {
                //供应商状态
                var _this = this;
                axios.get('/supplier/supplierStatus').then(function (response) {
                    if (response.data.ret == 1) {
                        _this.supplierStatus = response.data.data;
                    }
                    ;
                }).catch(function (err) {
                    console.log('err===>', err);
                });
            },
            getContractStatus: function () {
                //合同状态
                var _this = this;
                axios.get('/supplier/contractStatus').then(function (response) {
                    if (response.data.ret == 1) {
                        _this.contractStatus = response.data.data;
                    }
                }).catch(function (err) {
                    console.log('err===>', err);
                });
            },
            getSupplierType: function () {
                //供应商类型
                var _this = this;
                axios.get('/supplier/supplierType').then(function (response) {
                    if (response.data.ret == 1) {
                        _this.supplierType = response.data.data;
                    }
                }).catch(function (err) {
                    console.log('err===>', err);
                });
            },
            getPageList: function () {
                //表格数据
                var _this = this;
                _this.loading = true;
                _this.formData.startDate = _this.date[0];
                _this.formData.endDate = _this.date[1];
                axios.post('/supplier/querySupplierList', _this.formData).then(function (response) {
                    _this.loading = false;
                    if (response.data.ret == 1) {
                        _this.tableData = response.data.rows;
                        _this.formatDate.total = response.data.total;
                    }else{
                        this.$message({
                            showClose: true,
                            message: response.data.errMsg,
                            type: 'error'
                        });
                    }

                }).catch(function (err) {
                    _this.loading = false;
                    console.log('err===>', err);
                });
            },
        }
    })
</script>










</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#srm-home',
        created: function() {
            this.getUserInfo();
        },
        data: {
            sysName:'供应商管理系统',
            collapsed:false,
            userInfo:{},
            pathname:window.location.pathname,
            menus:[
              {
                  path: '/',
                  name: '',
                  iconCls: 'fa fa-address-card',
                  leaf: true,//只有一个节点
                  children: [
                      { path: '/', name: '首页' }
                  ]
              },
              {
                  path: '/',
                  name: '供应商产品库',
                  iconCls: 'el-icon-message',
                  children: [
                      { path: '/supplierProduct/biddingSku',  name: '新品竞标'}
                  ]
              },
              {
                  path: '/',
                  name: '供应商申报',
                  iconCls: 'el-icon-message',
                  children: [
                      { path: '/supplier/apply/index',  name: '供应商申报'},
                      { path: '/supplier/audit/index',  name: '供应商审核' }
                  ]
              },
              {
                  path: '/',
                  name: '供应商档案',
                  iconCls: 'el-icon-message',
                  children: [
                      { path: '/supplier/supplier/',  name: '供应商档案管理'}
                  ]
              },
              {
                  path: '/',
                  name: '',
                  iconCls: '',
                  leaf: true,//只有一个节点
                  children: [
                      { path: '/',  name: '供应商账号维护'}
                  ]
              }
            ],
        },
        methods: {
            onSubmit:function() {

            },
            handleopen:function () {

            },
            handleclose:function() {

            },
            handleselect: function (a, b) {
                location.href = a;
            },
            //折叠导航栏
            collapse:function(){
            },
            showMenu:function(i,status){
                var index = 'submenu-hook-' + i;
                var el = this.$refs.menuCollapsed.getElementsByClassName(index);
                el[0].style.display==status?'block':'none';
            },
            getUserInfo:function() {
                var _this = this;
                //获取用户相关信息
              axios.post('/public/getUserInfo').then(function(response){
                if (response.data.ret == 1) {
                   _this.userInfo = response.data.data;
                };
              }).catch(function(err){
                  _this.$message.error('错了哦，这是一条错误消息');
              });
            },
            switchCity:function (cityId) {
                location.href='/public/switchCity?cityId=' + cityId;
            }
        },
    })
</script>

</body>
</html>

